<div class="new-keyword">
  <div class="content">
    <h1>New Keyword</h1>
    <%= render 'form' %>

    <div class="links">
      <%= link_to '&laquo; Back to keyword list'.html_safe, keywords_path %>
    </div>
  </div>
</div>
