/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  grid-template-columns: auto 65% auto;
}

.experiment-title {
  color: #666;
}

input.small-number {
  width: 65px;
}


.keyword {
  padding: 8px;
  background-color: #dedede;
}
.keyword-1 {
  background-color: #FBCA04;
}
.keyword-2 {
  background-color: #E99695;
}
.keyword-3 {
  background-color: #C2E0C6;
}
.keyword-4 {
  background-color: #C5DEF5;
}
.keyword-5 {
  background-color: #D4C5F9;
}
.keyword-6 {
  background-color: #a2eeef;
}
.keyword-7 {
  background-color: #F3E029;
}
.keyword-8 {
  background-color: #E95663;
}
.keyword-9 {
  background-color: #07C657;
}
.keyword-10 {
  background-color: #CCCCCC;
}